.ui-state-default, .ui-widget-content, .ui-state-default, .ui-widget-header, .ui-state-default, .ui-menu, .ui-menuitem-link {
    color: #cc0000;
    font-family: Arial;
    font-weight: normal;
    font-size:11px;
}
.ui-growl-title {
    padding:10px;
    border:none;
    color: #000000;
    font-size: 12px;
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 10px rgba(0, 0, 0, 0.1), 0 8px 9px rgba(0, 0, 0, 0.1);
    font-family:Arial, Helvetica, sans-serif;
    font-weight:normal;
}

a, img {
    border:none;
}

